<div id="landing">
  <div id="carouselExampleSlidesOnly" class="carousel slide w-100 d-flex align-items-center" data-bs-ride="carousel" data-bs-pause="false">
    <ol class="carousel-indicators">
      <li data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="1"></li>
      <li data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/carousel1.jpg" class="d-block w-100" alt="image1" />
        <div class="carousel-caption">
          <h5 class="fw-bold">Experience the Power of Connection and Collaboration at T-Hub</h5>
          <div>
            At T-Hub, we believe in the transformative power of connection and collaboration. Our platform provides T-Systems employees with a unique opportunity to come together, share ideas, and work towards common goals.
          </div>
          <div>
            <button type="button" class="btn btn-light fw-bold" [routerLink]="['/signup']" >Join now</button>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/carousel2.jpg" class="d-block w-100" alt="image2" />
        <div class="carousel-caption">
          <h5 class="fw-bold">Strengthening Team Bonding at T-Systems with T-Hub</h5>
          <div>
            Experience the transformative benefits of engaging with like-minded colleagues, fostering creativity, productivity, and meaningful work relationships.
          </div>
          <div>
            <button type="button" class="btn btn-light fw-bold">Join now</button>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/carousel3.jpg" class="d-block w-100" alt="image3" />
        <div class="carousel-caption">
          <h5 class="fw-bold">Fuel Your Network and Build Stronger Bonds with T-Hub</h5>
          <div>
            Embrace the potential of T-Hub to amplify your impact and unlock new possibilities in your professional journey.
          </div>
          <div>
            <button type="button" class="btn btn-light fw-bold">Join now</button>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleSlidesOnly" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleSlidesOnly" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>



  <!--********Midle text seccion**********-->
  <div id="text-custom">
    <h2>How T-Hub works</h2>
    <h2>Meet new people from work</h2>
    <h2>who share your interests.</h2>
  </div>

  <!--********Cards seccion**********-->

  <div id="card-custom">
    <div class="card-item" >
      <div  style="width: 18rem">
        <img src="../../assets/card1.png" class="card-img-top" alt="..." />
        <div class="card-body fw-bold text-center">
          <p class="card-text">Join a party</p>
          <p>
            Join parties and socialize with colleagues in a fun and interactive
            environment.
          </p>
        </div>
      </div>
    </div>
    <div class="card-item">
      <div style="width: 18rem">
        <img src="../../assets/card2.png" class="card-img-top" alt="..." />
        <div class="card-body fw-bold text-center">
          <p class="card-text">Chat with coworkers</p>
          <p>
            Share ideas, discuss projects, and strengthen internal communication.
          </p>
        </div>
      </div>
    </div>

    <div class="card-item">
      <div  style="width: 18rem">
        <img src="../../assets/card3.png" class="card-img-top" alt="..." />
        <div class="card-body fw-bold text-center">
          <p class="card-text">Start a Party</p>
          <p>
            Create parties and bring people together for shared activities and
            conversations.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
