<div class="bg-image">
  <div id="logo">
    <img src="../../../assets/logo.png" alt="" />
  </div>
  <div class="container bg-white form-login col-md-3 position-relative">
    <div class="row justify-content-center">
      <div *ngIf="!isLoggedIn">
        <h2 class="fw-bold text-center mt-1">LOGIN</h2>
      </div>
      <!-- Already logged In Message -->
      <div *ngIf="isLoggedIn">
        <h2 class="fw-bold text-center mt-1">You are already logged in!</h2>
      </div>
      <div class="col-md-16">
        <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
          <div class="input-group flex-nowrap mb-4">
            <span class="input-group-text bg-secondary-subtle" id="addon-wrapping">
              <i class="bi bi-person"></i>
            </span>
            <input type="text" class="form-control bg-secondary-subtle" name="username" [(ngModel)]="form.username"
              required #username="ngModel" placeholder="Username" aria-label="Username"
              aria-describedby="addon-wrapping" id="exampleFormControlInput1" />
            <div class="alert alert-danger" role="alert" *ngIf="username.errors && f.submitted">Username is required!
            </div>
          </div>
          <div class="input-group flex-nowrap mb-4">
            <span class="input-group-text bg-secondary-subtle" id="addon-wrapping">
              <i class="bi bi-lock"></i>
            </span>
            <input type="password" name="password" [(ngModel)]="form.password" required minlength="6"
              #password="ngModel" id="inputPassword5" class="form-control bg-secondary-subtle"
              aria-labelledby="passwordHelpBlock" placeholder="Password" />
            <div class="alert alert-danger" role="alert" *ngIf="password.errors && f.submitted">ç
              <div *ngIf="password.errors?.['required']">Password is required</div>
              <div *ngIf="password.errors?.['minlength']">Password must be at least 6 characters</div>
            </div>
          </div>
          <div id="passwordHelpBlock" class="form-text"></div>
        </form>
      </div>
    </div>
    <div *ngIf="!isLoggedIn" class="text-end mb-3">
      <a class="text-decoration-none text-dark" [routerLink]="['/forgot-password']">forgot password</a>
    </div>
    <div *ngIf="!isLoggedIn" class="custom-button text-center">
      <button  type="button" class="btn btn-custom btn-lg fw-bold" (click)="onSubmit()">LOG IN</button>
    </div>

    <!-- Already logged In Options -->
    <div class="loggedIn">
    <div *ngIf="isLoggedIn" class="custom-button text-center">
      <button  type="button" class="btn btn-custom btn-lg fw-bold" (click)="reloadPage()">Go Home</button>
    </div>
    <div *ngIf="isLoggedIn" class="custom-button text-center">
      <button  type="button" class="btn btn-custom btn-lg fw-bold" (click)="logOut()">LOG OUT</button>
    </div>
  </div>

    <div *ngIf="!isLoggedIn" class="signUp mt-auto mb-3 text-center">Not a member yet? <a class="text-dark" [routerLink]="['/signup']">Sign
        Up</a>
    </div>
  </div>
</div>
