/* Background image */
.bg-image {
  background-image: url('../../../assets/login.jpg');
  background-size: cover;
  height: 100vh;
  display: flex;
}

/* Login container */
.container {
  padding: 3%;
  border-radius: 3%;
  height: auto;
  align-self: center;
  display: flex;
  flex-direction: column;
}
.close{
 margin-left: 170%;
 color: var(--color-darkgrey);
}

/* Login button */
.btn-custom {
  background-color: var(--color-pink);
  color: var(--color-white);
}
.custom-button {
  margin-top: 15%;
}

/* Icons color */
i {
  color: var(--color-login-icon);
}

#logo {
  padding: 5%;
}
.row {
  align-items: center;
}
form {
  margin-top: 20%;
}

/*Already logged in options style*/

.loggedIn{
  display: flex;
  justify-content: space-around;
  }


/* Responsive */
@media (max-width: 900px) {
  #logo img {
      width: 300px;
  }

  .bg-image {
      flex-direction: column;
  }

  .container {
      width: fit-content;
  }
}

@media (max-width: 600px) {
  #logo img {
      width: 100px;
  }

  .container {
      width: fit-content;
  }
}
