.btn {
  background-color: var(--color-pink);
}

.button-send{
  border-color: var(--color-pink);
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.message-input{
  margin-top: 1%;
  
}
.recive {
  margin-left: 2%;
  background-color: var(--color-white);
  border:solid 1.5px var(--color-pink);
  color: var(--color-pink);
  height: auto;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 3%;
  padding-right: 3%;
  border-end-start-radius: -10px;
  display: inline-block;
}
.recive::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--color-pink) transparent transparent;
}

.send {
  margin-right: 2%;
  background-color: var(--color-pink) !important;
  color: var(--color-white);
  border:solid 1.5px var(--color-white);
  height:auto;
  text-align: right;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 3%;
  padding-right: 3%;
  display: inline-block;
}

.send::before {
  content: "";
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
  border-style: solid;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--color-white);
}

.hour-r {
  color: var(--color-dark-grey);
 
}

.hour-s {
  color: var(--color-dark-grey);
  
}

.message {
 align-items: flex-end;
}

.msg {
  margin-left: 5%;
  margin-right: 5%;
}

.chat {
  height: 455px;
  overflow-y: scroll;
}
