<div class="container">
  <div class="row">
    <div class="col-md-2">
      <!-- Columna izquierda (opcional) -->
      <div class="card mb-3">
      </div>
    </div>
    <div class="feed col-md-8">
      <!-- Input post -->
      <div class="card mt-4">
        <div class="card-body create-post">
          <!-- Contenido del feed -->

          <div class="form-group">
            <textarea class="form-control" placeholder="Write a post..." [(ngModel)]="message.content"></textarea>
          </div>
          <div class="text-end">
            <a class="smile" href="#"><i class="bi bi-emoji-smile"></i></a>
            <button type="button" class="btn mt-3" (click)="submitMessage()">Post</button>
          </div>
        </div>
      </div>
      <div class="dropdown-divider m-3"></div>
      <!-- Columna central -->



      </div>



      <div class="col-md-2">
        <!-- Columna derecha (opcional) -->
        <div class="card mb-3">
        </div>
      </div>
    </div>

</div>
