.btn {
  background-color: #E20074;
}

.button-send{
  border-color: #E20074;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.message-input{
  margin-top: 1%;
}
.recive {
  margin-left: 2%;
  background-color: white;
  border-color: #E20074;
}

.send {
  margin-right: 2%;
  background-color: #E20074 !important;
  color: white;
}

.hour-r {
  color: grey;
}

.hour-s {
  color: rgb(236, 236, 236);
}

.msg {
  margin-left: 5%;
  margin-right: 5%;
}

.chat {
  height: 455px;
  overflow-y: scroll;
}
