<div class="content container-fluid vh-100 d-flex" style="display: flex; flex-direction: column;">
  <div class="contentbox d-flex" style="background-color: #D9D9D9; border: none;">

    <div class="imagediv"> </div>
    <div class="imagencat">

      <div class="logodiv ">
        <img class="logoimg" src="/assets/cat.jpg" alt="">
        <div class="divbutton">
          <button type="submit" class="btn Create">Save</button>
          <a href="" class="cancel">Cancel</a>
        </div>

      </div>

    </div>


    <div class="formdiv">

      <form class="form">
        <div class="firstform">
          <div class="mb-3">
            <label class="form-label">Name</label>
            <input class="form-control">
          </div>
          <div class="mb-3">
            <label class="form-label">Username</label>
            <input class="form-control">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
        </div>

        <div class="secondform">
          <div class="mb-3">
            <label class="form-label">Steam user</label>
            <input class="form-control">
          </div>

          <div class="mb-3 label">
            <label class="form-label">Job</label>
            <select class="form-select">
              <option>Select job</option>
            </select>
          </div>
          <div class=" label mb-3">
            <label class="form-label office">Office</label>
            <select class="form-select">
              <option>Select office</option>
            </select>
          </div>

        </div>



      </form>
    </div>

  </div>

</div>
