@import url('./../profile/profile.component.css');
.icon {
  top: 15% !important;
  cursor: pointer;
}
.edit-icon {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  width: 150px;
  height: auto;
  position: absolute;
  top: 15%;
  left: 54.5%;
  transform: translate(-50%, -50%);
  color: var(--color-white);
  pointer-events: none;
  opacity: 50%;
}
@media (max-width: 767px) {
  .edit-icon {
    left: 62%;
  }
}
