.logoimg {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin-top: -110px;
}

.logodiv {
  margin-left: 9rem;
}
.location{display: flex;}
.imagediv {
  width: 100%;
  height: 200px;
  margin: 0;
  padding: 0;
  background-position-y: center;
  background-position-x: center;
  background-size: cover;
}

.imagencat {
  display: flex;
  flex-direction: row;
}

.textdiv {
  margin-top: 25px;
  display: flex;
  flex-direction: row;

}

.contentbox {
  width: 60rem;
  height: 37rem;
  display: flex;
  flex-direction: column;
  min-height: 35rem;
  /*centrar*/
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*revisar*/
.container1 {
  width: 300px;
  text-align: center;
}

.imagediv {
  background-image: url("/assets/backgroundprofile.png");
  margin: 0;
}

.text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-align: left;
}

.namediv {
  margin-left: 12rem;
  margin-right: 9rem;
}

.addfriend {
  background-color: #E20074;
  color: white;
  margin-top: 4%;
  width: 50px;
  padding: 0;
  height: 45px;
}

.chat {
  background-color: #E20074;
  color: white;
  margin-top: 4%;
  width: 50px;
  padding: 0;
  height: 45px;
}

.chat i,
.addfriend i {
  font-size: 18px;
  color: white;
}

.divbutton {
  margin-top: 70px;
  margin-left: 7rem;
}

.divbutton2 {
  margin-top: 70px;
  margin-left: 1rem;
}

.steam {
  size: 40px;
  color: black;
  font-size: 30px;
  margin-left: 40px;
  margin-top: 20px;
}

.settingsbutton {
  margin-left: 9rem;
  margin-top: -110px;

}

/*ipad pro*/
@media (max-width: 1024px) {}

/*nexus5*/
@media (max-width: 650px) {
  .imagediv {
    width: 100%;
    height: 150px;
    margin: 0;
    padding: 0;
    background-position-y: center;
    background-position-x: center;
    background-size: cover;
  }

  .contentbox {
    width: 23rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    /*centrar*/
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .logoimg {
    width: 140px;
    height: 140px;
    border-radius: 100%;
    margin-top: -55px;
  }

  .imagencat {
    display: flex;
    flex-direction: row;
  }

  .logodiv {
    margin-left: 1rem;
  }

  .textdiv {
    margin-top: 25px;
    display: flex;
    flex-direction: row;

  }

  .container1 {
    width: 100px;
  }


  .text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-align: left;
    height: 10rem;
    width: 9rem;
  }

  .namediv {
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: left;

  }


  .addfriend {
    background-color: #E20074;
    color: white;
    margin-top: 4%;
    width: 50px;
    padding: 0;
    height: 45px;
  }

  .chat {
    background-color: #E20074;
    color: white;
    margin-top: 4%;
    width: 40px;
    padding: 0;
    height: 35px;
  }

  .chat i,
  .addfriend i {
    font-size: 12px;
    color: white;
  }

  .divbutton {
    margin-top: 30px;
    margin-left: 3rem;
  }

  .divbutton2 {
    margin-top: 30px;
    margin-left: 1rem;
  }

  .steam {
    size: 40px;
    color: black;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 20px;
  }

  .settingsbutton {
    margin-left: 0.2rem;
    margin-top: -100px;

  }

  .descriptiondiv {
    margin-left: 3rem;
    margin-right: 2rem;
    text-align: center;

  }

  .location {
    display: flex;
    flex-direction: row;
  }
}
