<div class="container">
  <div class="row ms-1 mt-1">
    <div class="col-12">
      <button class="btn btn-primary px-3" (click)="goBack()">&#60;</button>
    </div>
  </div>
  <div class="col-12" *ngIf="postFound">
    <p>{{post.id}}</p>
    <p>{{post.content}}</p>
    <p>{{post.creator.username}}</p>
  </div>

  <div class="container" *ngIf="postCommentsFound">
    <div class="row" *ngFor="let comment of postComments">
      <div class="col-12">
        <p>{{comment.id}}</p>
        <p>{{comment.content}}</p>
        <p>{{comment.comment_by.username}}</p>
      </div>
    </div>
  </div>


</div>
