.btn {
  background-color: var(--color-pink);
  color: var(--color-white);
}

.post-user-pic {
  max-width: 50px;
  border-radius: 100%;
}

.card {
  background-color: var(--color-light-grey);
}

.commentCard {
  background-color: #6a6a6a1f;
}

p i:hover {
  cursor: pointer;
}
