#general-click-party {
  display: flex;
  align-items: flex-start;
  padding: 5%;
}
.buttons {
  display: flex;
  justify-content: flex-start;
}
#comments-button {
  margin-right: 10px;
}

.figure-container{
  width: 80%;
  height: auto;
}
.btn {
  background-color: var(--color-pink);
  font-size: 1.5rem;
  font-size: x-large;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
}

#new-post-button:active {
  background-color: #262626;
}
#party-details {
  padding-top: 3%;
  padding-bottom: 5%;
  padding-left: 7%;
  padding-right: 7%;
  background-color: #d9d9d9;
  padding: 5%;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
.container {
  color: black;
}
h2 {
  text-decoration: underline var(--color-darkgrey);
  padding-bottom: 1px;
}
.text-description {
  margin-top: 5%;
}

@media (max-width: 650px) {
.figure{
    display:none
}

#general-click-party {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5%;
  }
  #new-post-button{
    margin-bottom: 10%;
  }
  }
