
<div id="general-click-party">
  <div class="party-button">
    <button (click)="goBack()" class="btn btn-primary fw-blod me-5" id="new-post-button">&lt;</button>
  </div>
  <div id="party-details" >
    <div class="container" *ngIf="partyLoaded == true && partyListLoaded == true">
      <div class="titol-detail">
        <div><h2 class="fw-bold text-uppercase">Title: {{ party.title }}</h2></div>
        <div> </div>

      </div>
      <div id="text-body">
        <h1 class="fw-bold fs-5">Created by {{party.creator.username}}</h1>
        <h4 *ngIf="party.activity">Type: Activity</h4>
        <h4 *ngIf="party.game">Type: Game</h4>
        <h4 *ngIf="party.social">Type: Social</h4>
      </div>
      <div class="buttons">
        <div *ngIf="userInParty == false">
          <button class="btn btn-primary" id="join-button" (click)="join()">
            <i class="bi bi-plus-lg"></i>
          </button>
        </div>
        <div *ngIf="userInParty == true" class="d-flex">
          <button class="btn btn-primary" id="comments-button" [routerLink]="'/chat'">
            <i class="bi bi-wechat"></i>
          </button>
          <button class="btn btn-primary fw-bold" id="exit-button" >-</button>

        </div>
      </div>
      <div>
        <p class="text-description">
          {{ party.description }}
        </p>
      </div>
    </div>
    <div class="figure-container">
        <figure class="figure">
          <img class="figure-img img-fluid rounded" [src]="getPartyImage(party)" [alt]="party.title" width="100%" height="100%">

          </figure>
    </div>
  </div>
</div>
