
<div id="general-click-party">
  <div class="party-button">
    <button class="btn btn-primary fw-blod me-5" id="new-post-button">&lt;</button>
  </div>
  <div id="party-details">
    <div class="container">
      <div class="titol-detail">
        <div><h2 class="fw-bold text-uppercase">Weekend at molina</h2></div>
        <div> </div>

      </div>
      <div id="text-body">
        <p class="fw-bold fs-5">Created by Username</p>
        <p class="fw-bold fs-5">Type of activity: ActivityType</p>
      </div>
      <div class="buttons">
        <div>
          <button class="btn btn-primary" id="comments-button">
            <i class="fa-solid fa-comments" style="color: #f7f7f8"></i>
          </button>
        </div>
        <div>
          <button class="btn btn-primary fw-bold" id="exit-button">-</button>
        </div>
      </div>
      <div>
        <p class="text-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
          esse provident, distinctio laborum delectus veritatis necessitatibus
          placeat laudantium facere suscipit! Vitae harum eligendi animi id non
          dignissimos itaque facere dolor?
        </p>
      </div>
    </div>
    <div>
        <figure class="figure">
            <img src="../../../assets/click-party.png" class="figure-img img-fluid rounded" alt="party-image">

          </figure>
    </div>
  </div>
</div>
