<div class="bg-image">
    <div id="logo">
      <img src="../../../assets/login.jpg" alt="" />
    </div>
  
    <div class="container bg-white form-login col-md-3 position-relative">
      <div class="row justify-content-center">
        <div>
          <h2 class="fw-bold text-center">REGISTER</h2>
        </div>
        <div class="col-md-16">
          <form>
            <div class="input-group flex-nowrap mb-3">
                <span
                  class="input-group-text bg-secondary-subtle"
                  id="addon-wrapping"
                  ><i class="fa-regular fa-user" style="color: #8d8e91"></i></span>
                <input
                  type="email"
                  class="form-control bg-secondary-subtle"
                  placeholder="Username"
                  aria-label="Username"
                  aria-describedby="addon-wrapping"
                  id="exampleFormControlInput1"
                />
              </div>
            <div class="input-group flex-nowrap mb-3">
              <span
                class="input-group-text bg-secondary-subtle"
                id="addon-wrapping"
                ><i class="fa-regular fa-envelope" style="color: #8d8e91"></i
              ></span>
              <input
                type="email"
                class="form-control bg-secondary-subtle"
                placeholder="Email"
                aria-label="Email"
                aria-describedby="addon-wrapping"
                id="exampleFormControlInput1"
              />
            </div>
            <div class="input-group flex-nowrap mb-3">
              <span
                class="input-group-text bg-secondary-subtle"
                id="addon-wrapping"
                ><i class="fas fa-lock" style="color: #8d8e91"></i
              ></span>
              <input
                type="password"
                id="inputPassword5"
                class="form-control bg-secondary-subtle"
                aria-labelledby="passwordHelpBlock"
                placeholder="Password"
              />
            </div>
            <div class="input-group flex-nowrap mb-3">
                <span
                  class="input-group-text bg-secondary-subtle"
                  id="addon-wrapping"
                  ><i class="fas fa-lock" style="color: #8d8e91"></i
                ></span>
                <input
                  type="password"
                  id="inputPassword5"
                  class="form-control bg-secondary-subtle"
                  aria-labelledby="passwordHelpBlock"
                  placeholder="Confirm password"
                />
              </div>
            <div id="passwordHelpBlock" class="form-text"></div>
          </form>
        </div>
      </div>

      <div class="custom-button text-center">
        <button type="button" class="btn btn-custom btn-lg  fw-bold">SIGN UP</button>
      </div>
      <div class="signUp mt-auto mb-3 text-center">Already a member? <a class="text-dark" href="http://">Log In</a></div>
    </div>
  </div>
  
