<div class="container">
  <div class="row">
    <div class="col-12" id="profile-header"></div>
  </div>
  <div class="row mb-4">
    <div class="col-4 text-center">
      <img class="logoimg img-fluid" src="/assets/cat.jpg" alt="">
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-4 text-break text-center">
      <h5>Name</h5>
      <h5>Username</h5>
      <a href=""><i class="bi bi-steam"></i></a>
      <a class="ms-1" href=""><i class="bi bi-instagram"></i></a>
      <a class="ms-1" href=""><i class="bi bi-twitter"></i></a>
      <a class="ms-1" href=""><i class="bi bi-facebook"></i></a>
    </div>
    <div class="col-8">
      <h2>Job Title</h2>
      <p><i class="bi bi-geo-alt-fill"></i> Location</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce convallis condimentum purus, ac
        suscipit mauris consequat id.</p>
    </div>
  </div>
</div>
