.card-body {
  background-image: url('/assets/backgroundprofile.png');
  border-top-right-radius: 10px;
  height: 100px;
}
.icon {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  width: 150px;
  height: auto;
}
.card-footer {
  background-color: var(--color-light-grey);
}

