<div class="row">
  <div class="col-md-4">
    <!-- Private message contacts -->
    <ng-container *ngIf="selectedTab === 'private'">
      <div class="contact-list overflow-auto">
        <table class="table table-responsive">
            <thead>
              <tr>
                <th scope="col">Contacts</th>
              </tr>
            </thead>
            <tbody>
              <tr class="row" *ngFor="let contact of contactos" (click)="seleccionarUsuario(contact.nombre)" [class.selected]="contact.nombre === usuarioSeleccionado" style="cursor: pointer">
                <td class="align-middle">
                  <h5 class="text-secondary d-flex align-items-center">
                    <i class="bi bi-person-fill"></i>
                    {{ contact.nombre }}
                  </h5>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    </ng-container>
    <!-- Parties chats -->
    <ng-container *ngIf="selectedTab === 'parties'">
      <div class="contact-list overflow-auto">
        <table class="table table-responsive">
        <thead>
          <tr>
            <th scope="col">Parties</th>
          </tr>
        </thead>
        <tbody>
          <tr class="row" *ngFor="let party of parties" (click)="sleccionarParty(party.title)" [class.selected]="party.title === partySeleccionada" style="cursor: pointer">
            <td class="align-middle">
              <h5 class="text-secondary d-flex align-items-center">
                <i class="bi bi-people-fill me-2"></i>
                {{ party.title }}
              </h5>
            </td>
          </tr>
        </tbody>
      </table>
      </div>
    </ng-container>
  </div>
  <div class="col-md-8">
    <!-- Opened chat -->
    <app-open-chat [usuarioSeleccionado]="usuarioSeleccionado"></app-open-chat>
  </div>
</div>
