<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
      <a href="#" class="navbar-brand">
        <a class="navbar-brand me-0 my-auto" href="#"><img class="img-fluid" src="../../assets/img/logos/THubLogo200pxWWhite.png"></a>
      </a>
      <button type="button" class="navbar-toggler text-light" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <i class="bi bi-list fa-lg"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav ms-auto">
            <a class="btn ms-2 my-auto">Log in</a>
            <a class="btn ms-2 my-auto">Sign up</a>
          </div>
      </div>
  </div>
</nav>
