<!-- Header -->
<nav class="navbar navbar-expand">
  <div class="container">
    <div class="col-8 d-flex">
      <a class="navbar-brand me-0 my-auto" href="#"><img class="img-fluid" src="../../assets/img/logos/THubLogo200pxWWhite.png"></a>
    </div>
    <div class="d-flex col-4">
      <a href="#" class="my-auto ms-auto"><img class="img-fluid" src="../../../../assets/img/placeholders/user-picture-50x50.png" alt=""
          srcset=""></a>
      <a href="#" class="my-auto ms-2">Username</a>
    </div>
  </div>
</nav>
