/* Navbar colors */
nav {
  background-color: var(--color-pink);
  color: var(--color-white);
}

/* Navbar content */
nav > div {
  padding-left: 10%;
  padding-right: 10%;
}

/* Log in / Sign in text */
nav a {
  color: var(--color-white);
  text-decoration: none;
  font-weight: bold;
}

/* Button styles */
.btn {
  color: var(--color-white);
  --mdb-btn-box-shadow: 0;
  text-transform: none;
  font-size: 1rem;
}
.btn:hover {
  background-color: var(--color-white);
  color: var(--color-dark-grey);
}

/* T-Hub image */
nav img {
  max-width: 50%;
}

