nav {
  background-color: var(--color-pink);
  color: var(--color-white);
}

nav > div {
  padding-left: 10%;
  padding-right: 10%;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.btn {
  color:white;
  --mdb-btn-box-shadow: 0;
  text-transform: none;
  font-size: 1rem;
}

.btn:hover {
  background-color: white;
  color: black;
}

nav img {
  max-width: 125px;
}

