<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
      <a class="navbar-brand" routerLink="/landingpage">
        <img  src="../../assets/img/logos/THubLogo200pxWWhite.png">
      </a>
      <button type="button" class="navbar-toggler text-light" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <i class="bi bi-list fa-lg"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav ms-auto">
            <a class="btn ms-2 my-auto" routerLink="/login">Log in</a>
            <a class="btn ms-2 my-auto" routerLink="/signup">Sign up</a>
          </div>
      </div>
  </div>
</nav>
