<div class="row">
  <div class="col-md-4">
    <!-- Private message contacts -->

    <!-- Parties chats -->
    <ng-container *ngIf="selectedTab === 'parties'">
      <div class="contact-list overflow-auto">
        <table class="table table-responsive">
        <thead>
          <tr>
            <th class="fw-bold" scope="col">Parties</th>
          </tr>
        </thead>
        <tbody>
          <tr class="row" *ngFor="let party of parties" (click)="sleccionarParty(party.title)" [class.selected]="party.title === partySeleccionada" style="cursor: pointer">
            <td class="align-middle">
              <h5 class="text-custom d-flex align-items-center">
                <i class="bi bi-people-fill me-2"></i>
                {{ party.title }}
              </h5>
            </td>
          </tr>
        </tbody>
      </table>
      </div>
    </ng-container>
  </div>
  <div class="col-md-8">
    <!-- Opened chat -->
<!-- Opened chat -->
<app-open-chat [usuarioSeleccionado]="partySeleccionada"></app-open-chat>
  </div>
</div>
