<div class="content container-fluid vh-100  d-flex ">

  <div class="menulateralizq" >
    <div class="menulateralizq1">
      <button type="button" class="btn btn1 ">  <i class="fas fa-gamepad"></i> Games
      </button>
    <button type="button" class="btn btn1" > <i class="fas fa-person-biking"></i>
      Activities
    </button>
    </div>


    <div class="menulateralizq2">
      <button type="button" class="btn btn2" > <i class="far fa-comments"></i> Social</button>
    <button type="button" class="btn btn2" > <i class="far fa-user"></i>
      My Parties</button>
    </div>
  </div>

  <div class="centercomponent">
    <div class="searchdiv">
      <form class="search d-flex">
        <input class="form-control me-2 inputsearch" type="search"  aria-label="Buscar">
        <button class="btn searchbtn" type="submit">Search</button>
      </form>
    </div>


    <div class="listaparties">
      <div class="card">
        <div class="componentcard d-flex">

          <div class="card-body">

            <div class="superiorcomponents" style="display: flex; flex-direction: row; justify-content: space-between;">
              <div class="activitytype" style="margin-left: 2%;"><p>Activity_type</p></div>
              <div class="people d-flex justify-content-end align-items-center " style="margin-bottom: 20px;">

                <i class="fas fa-user-group"></i> 23
               </div>

            </div>

            <h5 class="card-title">Weekend at Molina</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias eum ullam quaerat incidunt obcaecati.</p>
          </div>

          <div class="card-inside">
            <img class="card-img-top" src="/assets/login.jpg">
          </div>
        </div>
      </div>

    </div>


  </div>

  <div class="divbutton justify-content-top align-items-start " >
    <button  type="button" class="btn createparty" style="width: 120px;">Create party</button>
  </div>
</div>
