<!-- Header -->
<nav class="navbar navbar-expand mb-3">
  <div class="container-fluid">
    <a class="navbar-brand col-3 me-0 text-center" href="#"><img class="img-fluid"
        src="../../assets/img/logos/THubLogo200pxWWhite.png"></a>
    <ul class="navbar-nav col-6 justify-content-center">
      <li class="nav-item ps-2">
        <a class="nav-link active" aria-current="page" href="#"><i class="bi bi-house-fill"></i></a>
      </li>
      <li class="nav-item ps-2">
        <a class="nav-link" href="#"><i class="bi bi-people-fill"></i></a>
      </li>
      <li class="nav-item px-2">
        <a class="nav-link" href="#"><i class="bi bi-chat-text-fill"></i></a>
      </li>
    </ul>
    <div class="d-flex col-3 justify-content-center">
      <button class="btn btn-primary">Button</button>
    </div>
  </div>
</nav>
