<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">
      <img src="../../assets/img/logos/THubLogo200pxWWhite.png" alt="Logo">
    </a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <i class="bi bi-list fa-lg text-light"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav me-auto mb-2 mb-lg-0 d-flex flex-row">
        <a href="#" class="nav-link mx-2" routerLink="/home"><i class="bi bi-house-fill"></i></a>
        <a href="#" class="nav-link mx-2" routerLink="/parties"><i class="bi bi-people-fill"></i></a>
        <a href="#" class="nav-link mx-2" routerLink="/chat"><i class="bi bi-chat-text-fill"></i></a>
      </div>
      <div class="navbar-nav ms-auto align-items-center">
        <div class="dropdown" *ngIf="user">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="profile-img me-2" src="{{user.profile_img}}">
            {{user.username}}
          </a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" routerLink="/parties"><i class="bi bi-people-fill"></i>Your parties</a>
            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-person-heart"></i>Friends</a>
            <a class="dropdown-item" (click)="goToYourProfile()"><i class="bi bi-person-fill"></i>View profile</a>
            <div class="dropdown-divider"></div>
            <a type="button" class="dropdown-item" (click)="logOut()"><i class="bi bi-door-open-fill"></i>Log out</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Friends</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Modal Body Content -->
        <table class="table">
          <thead>
            <tr>
              <th scope="col" colspan="2">
                <h2><i class="bi bi-person-heart"></i> Friends List</h2>
              </th>
            </tr>
          </thead>
          <tbody *ngFor="let friend of friends">
            <tr class="user-friend" (click)="handleProfileClick(friend.userSender.id)" data-bs-dismiss="modal">
              <td>{{friend.userSender.nameSurn}}</td>
              <td>
                <div class="d-flex justify-content-end">
                  <i class="chat-friend bi bi-chat-dots-fill"></i>
                  <i class="delete-friend bi bi-x-lg ms-3"></i>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
