nav {
  background-color: #E20074;
  color: white;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

nav i {
  font-size: 1.25rem;
  color: white;
}

nav img {
  max-width: 150px;
}
.container-fluid{
  margin-left: 20px; margin-right: 20px;
}
.dropdown-menu-end {
  left: auto;
  right: 0;
}

.dropdown-menu {
  display: none;
  background-color: #E20074;
  transition: opacity 20s ease; /* Add transition property */
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.navbar-expand .navbar-nav .dropdown-menu {
  position: absolute;
}

.dropdown-menu a.dropdown-item {
  color: white; /* Default text color */
  padding: 10px 20px; /* Adjust the padding to increase the height */
  line-height: 1.5; /* Adjust the line-height to increase the height */
}

.dropdown-menu a.dropdown-item:hover,
.dropdown-menu a.dropdown-item:focus {
  background-color: #f1add06e; /* Background color on hover/focus */
  color: white; /* Text color on hover/focus */
}
