<!-- Header -->
<nav class="navbar navbar-expand mb-3">
  <div class="container-fluid">
    <div class="col-8 d-flex">
      <a class="navbar-brand me-0 my-auto" href="#"><img class="img-fluid" src="../../assets/img/logos/THubLogo200pxWWhite.png"></a>
      <ul class="navbar-nav">
        <li class="nav-item ps-2 my-auto">
          <a class="nav-link active" aria-current="page" href="#"><i class="bi bi-house-fill"></i></a>
        </li>
        <li class="nav-item ps-2 my-auto">
          <a class="nav-link" href="#"><i class="bi bi-people-fill"></i></a>
        </li>
        <li class="nav-item px-2 my-auto">
          <a class="nav-link" href="#"><i class="bi bi-chat-text-fill"></i></a>
        </li>
      </ul>
    </div>
    <div class="d-flex col-4">
      <a href="#" class="my-auto ms-auto"><img class="img-fluid" src="../../../../assets/img/placeholders/user-picture-50x50.png" alt=""
          srcset=""></a>
      <a href="#" class="my-auto ms-2">Username</a>
    </div>
  </div>
</nav>
