<div class="content container-fluid vh-100  d-flex" style="display: flex; flex-direction: column;">
  <div class="contentbox" style="background-color: #D9D9D9;">

    <div>
      <div class="imagediv">

      </div>


    </div>

    <div class="imagencat">

      <div class="logodiv " style="margin-left: 9rem;">
        <img class="logoimg" src="/assets/cat.jpg" alt="">

      </div>
      <div class="twobuttons" style="display: flex; flex-direction: row;">
        <div class="divbutton">
          <button type="button" class="btn addfriend"><i class="fas fa-user-plus"></i></button>
        </div>
        <div class="divbutton2">
          <button type="button" class="btn chat"><i class="far fa-comments"></i></button>
        </div>
      </div>

    </div>

    <div class="textdiv">

      <div class="namediv">
        <h2>Name</h2>
        <h3>username</h3>
        <a href="">LogoSteam</a>
      </div>

      <div class="descriptiondiv">


        <div>
          <h2>Job Title</h2>
        </div>
        <div class="location" style="display: flex; flex-direction: row;">
          <i class="fas fa-location-dot"></i>
          <p>Location</p>
        </div>
        <div class="container1">
          <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce convallis condimentum purus, ac
            suscipit mauris consequat id.</p>
        </div>




      </div>

      <div class="settingsbutton justify-content-top align-items-top " style="margin-left: 9rem;   margin-top: -110px;
        ;">
        <a href=""><i class="fas fa-magnifying-glass" style="color: black;"></i></a>
      </div>

    </div>


  </div>

</div>
