<!-- Mini footer -->
<div class="container-fluid">
  <div class="row mini-footer">
    <div class="col-1 text-end">
      <a href="#" target="_blank" class="link-light link-underline-opacity-0" routerLink="/faq">FAQs</a>
    </div>
    <div class="col-1 text-end">
      <a href="#" target="_blank" class="link-light link-underline-opacity-0" routerLink="/privacy">Privacy Policy</a>
    </div>
    <div class="col-1 text-end">
      <a href="#" target="_blank" class="link-light link-underline-opacity-0" routerLink="/service">Terms of Service</a>
    </div>
  </div>
</div>

