<!-- Mini footer -->
<div class="container-fluid">
  <div class="row mini-footer">
    <div class="col-12 col-md-auto text-center">
      <a href="#" target="_blank" class="link-light link-underline-opacity-0 text-nowrap" routerLink="/faq">FAQs</a>
    </div>
    <div class="col-12 col-md-auto text-center mt-3 mt-md-0">
      <a href="#" target="_blank" class="link-light link-underline-opacity-0 text-nowrap" routerLink="/privacy">Privacy Policy</a>
    </div>
    <div class="col-12 col-md-auto text-center mt-3 mt-md-0">
      <a href="#" target="_blank" class="link-light link-underline-opacity-0 text-nowrap" routerLink="/service">Terms of Service</a>
    </div>
  </div>
</div>
