<div class="container my-2">
  <h3 class="title text-center">Choose your profile picture</h3>
  <div class="row justify-content-center">
    <div class="col-3 col-md-2 mb-4" *ngFor="let image of avatars">
      <div class="card" [ngClass]="{'selected-avatar': image === selectedAvatar}" (click)="selectAvatar(image)">
        <img class="card-img-top img-fluid" src="../../../assets/img/avatars/{{ image }}" alt="Cat avatar">
      </div>
    </div>
    <div class="col-12 text-right">
      <button type="button" class="btn" routerLink="/editprofile">Save</button>
    </div>
  </div>
</div>







