<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="feed col-md-10">
      <!-- Input post -->
      <div class="card mt-4 mb-4">
        <div class="card-body">
          <div class="text-center">
            <div class="title mb-4">
              <h2>Avatar Selector</h2>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-6 col-sm-4 col-md-2 mb-4" *ngFor="let image of avatars">
              <div class="card-cat avatar-card" [ngClass]="{'selected-avatar': image === selectedAvatar}" (click)="selectAvatar(image)">
                <img class="card-img-top img-fluid" src="../../../assets/img/avatars/{{ image }}" alt="Cat avatar">
              </div>
            </div>
          </div>
          <div class="text-end mt-4">
            <button type="submit" class="btn btn-success mr-3" (click)="save()">Save</button>
            <button type="submit" class="btn btn-danger ms-3" (click)="returnPageCancel()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

