<div class="container mt-5">
  <h3 class="text-center mb-4 pb-2 text-custom fw-bold">FAQ's</h3>
  <p class="text-center mb-5">
    Find the answers for the most frequently asked questions below
  </p>

  <div class="row">
    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-custom">
        <i class="fas fa-pen-alt text-custom pe-2"></i> What is T-Hub?
      </h6>
      <p>
        T-Hub is an application designed exclusively for T-Systems employees. It
        serves as a platform to facilitate communication, collaboration, and
        networking among employees, with the goal of fostering stronger
        relationships and team cohesion within the organization.
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-custom">
        <i class="fas fa-pen-alt text-custom pe-2"></i> Who can access the
        T-Hub app?
      </h6>
      <p>
        The T-Hub app is exclusively for T-Systems employees. It is designed to
        facilitate networking and communication among employees within the
        organization.
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-custom">
        <i class="fas fa-pen-alt text-custom pe-2"></i> How do I create an
        account on T-Hub?
      </h6>
      <p>
        To create an account on T-Hub, you need to be a T-Systems employee.
        Please use your corporate credentials to log in to the app. If you
        encounter any issues during the account creation process, please reach
        out to the T-Hub support team.
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-custom">
        <i class="fas fa-pen-alt text-custom pe-2"></i> How can I update my
        profile information?
      </h6>
      <p>
        You can update your profile information by navigating to your profile
        settings within the T-Hub app. From there, you can edit your personal
        details, such as your workplace, office location, and other relevant
        information.
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-custom">
        <i class="fas fa-pen-alt text-custom pe-2"></i>How can I post on the
        common feed?
      </h6>
      <p>
        To post on the common feed, go to the main screen of the T-Hub app and
        look for the option to create a new post. Click on it, and you will be
        able to share your thoughts, ideas, or any other information with the
        entire T-Hub community. You can also comment on and react to posts from
        your colleagues.
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-custom">
        <i class="fas fa-pen-alt text-custom pe-2"></i> How can I connect with
        my colleagues on T-Hub?
      </h6>
      You can connect with your colleagues on T-Hub by sending friend requests.
      Use the search feature within the app to find your colleagues' profiles
      and send them a friend request. Once they accept your request, you will be
      able to interact and communicate with them through the app.
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-custom">
        <i class="fas fa-pen-alt text-custom pe-2"></i> How can I join or
        create groups on T-Hub?
      </h6>
      <p>
        To join a group on T-Hub, use the search feature to find the desired
        group and send a request to join. If the group you're looking for
        doesn't exist, you can create your own group within the app. Specify the
        category and purpose of the group, invite colleagues, and start engaging
        in group discussions.
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-custom">
        <i class="fas fa-pen-alt text-custom pe-2"></i> Can I create different
        types of groups on T-Hub?
      </h6>
      <p>
        <strong><u>Absolutely!</u></strong> T-Hub allows you to create groups in
        three different categories: Games, Activities and Social.
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-custom">
        <i class="fas fa-pen-alt text-custom pe-2"></i> How can I access the
        T-Hub support team if I need assistance?
      </h6>
      <p>
        If you need any assistance or have questions regarding the T-Hub app,
        please reach out to the T-Hub support team. You can find their contact
        information in the app's settings or refer to the provided documentation
        and resources for further assistance.
      </p>
    </div>
  </div>
</div>
