<div class="container-fluid text-center">
  <div class="container">
    <div class="row pt-4 border-bottom">
      <div class="col-4">
        <h5>The FAQs</h5>
      </div>
      <div class="col-4">
        <h5>Privacy Policy</h5>
      </div>
      <div class="col-4">
        <h5>Terms of Service</h5>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-4">
        <img src="../../assets/img/logos/THubLogo200pxW.png" alt="" srcset="">
      </div>
      <div class="col-4">
        <h4>Let's power higher performance</h4>
      </div>
      <div class="col-4">
        <img src="../../assets/img/logos/GatoLogo250pxW.png" alt="" srcset="">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <p>&copy; 2023 <a href="#">4GatoSoft</a>. All rights reserved. This site use <a href="#">T-Systems</a> brand.</p>
      </div>
    </div>
  </div>
</div>

