<div class="container-fluid text-center">
  <div class="container">
    <div class="row py-4 border-bottom">
      <div class="col-4 my-auto">
        <a href="#" target="_blank" class="link-light link-underline-opacity-0" routerLink="/faq"><h4>FAQs</h4></a>
      </div>
      <div class="col-4 my-auto">
        <a href="#" target="_blank" class="link-light link-underline-opacity-0" routerLink="/privacy"><h4>Privacy Policy</h4></a>
      </div>
      <div class="col-4 my-auto">
        <a href="#" target="_blank" class="link-light link-underline-opacity-0"><h4>Terms of Service</h4></a>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-sm-4 col-12 my-auto py-3">
        <a href="https://www.t-systems.com/es/es" target="_blank"><img class="img-fluid" src="../../assets/img/logos/TSystemsLogo.png" alt="THUB Logo"></a>
      </div>
      <div class="col-sm-4 col-12 my-auto py-3">
        <h5 class="mb-0">Let's power higher performance</h5>
      </div>
      <div class="col-sm-4 col-12 my-auto py-3">
        <a href="https://youtube.com/shorts/V9ZQ9JAcG14?feature=share" target="_blank"><img class="img-fluid" src="../../assets/img/logos/GatoLogo250pxW.png" alt="4GatoSoft Logo"></a>
      </div>
    </div>
    <div class="row py-2">
      <div class="col-12 my-auto">
        <p class="my-2">&copy; 2023 <a href="https://www.youtube.com/watch?v=yNCgpaMlOcs" class="link-light" target="_blank">4GatoSoft</a>. All rights reserved. This site is powered by the <a href="https://www.t-systems.com/es/es" class="link-light" target="_blank">T-Systems</a> brand.</p>
      </div>
    </div>
  </div>
</div>

