<div class="container mt-5 ">
<h5 class="text-center  mt-5 fw-bold">Privacy Policy</h5>
  
  <h6 class="text-custom fw-bold">Information We Collect</h6>
  
  <p>We may collect personal identification information from Users in various ways, including but not limited to when Users register on the App, fill out a form, and in connection with other activities, services, features, or resources we make available on our App.</p>
  
  <h6 class="text-custom fw-bold">How We Use Collected Information</h6>
  
  <p>T-Hub may collect and use Users' personal information for the following purposes:</p>
  
  <ul>
    <li>To personalize user experience</li>
    <li>To improve our App</li>
    <li>To send periodic emails</li>
  </ul>
  
  <h6 class="text-custom fw-bold">How We Protect Your Information</h6>
  
  <p>We adopt appropriate data collection, storage, and processing practices and security measures to protect against unauthorized access, alteration, disclosure, or destruction of your personal information and data stored on our App.</p>
  
  <h6 class="text-custom fw-bold">Sharing Your Personal Information</h6>
  
  <p>We do not sell, trade, or rent Users' personal identification information to others. We may share generic aggregated demographic information not linked to any personal identification information regarding visitors and users with our business partners, trusted affiliates, and advertisers.</p>
  
  <h6 class="text-custom fw-bold">Changes to This Privacy Policy</h6>
  
  <p>T-Hub has the discretion to update this privacy policy at any time. When we do, we will revise the updated date at the bottom of this page. We encourage Users to frequently check this page for any changes to stay informed about how we are helping to protect the personal information we collect.</p>
  
  <p>This document was last updated on 21/05/2023.</p>
</div>
