<div class="container">
<div class=" container-custom row my-3">
  <div class=" column-left col-md-3 m-md-auto mb-3 col-12 text-center">
    <div class="row">
      <a type="button" class="btn1  "><i class="bi bi-controller"></i> Games</a>
    </div>
    <div class="row">
      <a type="button" class="btn1 "><i class="bi bi-bicycle"></i> Activities</a>
    </div>
    <div class="row">
      <a type="button" class=" btn1 "><i class="bi bi-chat"></i> Social</a>
    </div>
    <div class="row">
      <a type="button" class=" btn1"><i class="bi bi-people-fill"></i> My Parties</a>
    </div>
  </div>
  <div class=" column-right col-md-9 m-md-auto col-12">

    <form class="search d-flex">
      <div class="input-group">
        <input class="form-control me-2 inputsearch" type="search" aria-label="Buscar">
        <button class="btn inside-btn" type="submit">Search</button>
      </div>
    </form>


    <div class="centercomponent">


      <div class="listaparties">

        <div class="componentcard d-flex">

          <div class="card-body">

            <div class="superiorcomponents" style="display: flex; flex-direction: row; justify-content: space-between;">
              <div class="activitytype" style="margin-left: 2%;">
                <p>Activity_type</p>
              </div>
              <div class="people d-flex justify-content-end align-items-center " style="margin-bottom: 20px;">

                <i class="bi bi-people-fill"></i> 23
              </div>

            </div>

            <h5 class="card-title">Weekend at Molina</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias eum ullam quaerat incidunt obcaecati.
            </p>
          </div>


          <div class="card-inside">
            <img class="card-img-top" src="/assets/login.jpg">
          </div>
        </div>

        <div class="componentcard d-flex">

          <div class="card-body">

            <div class="superiorcomponents" style="display: flex; flex-direction: row; justify-content: space-between;">
              <div class="activitytype" style="margin-left: 2%;">
                <p>Activity_type</p>
              </div>
              <div class="people d-flex justify-content-end align-items-center " style="margin-bottom: 20px;">

                <i class="bi bi-people-fill"></i> 23
              </div>

            </div>

            <h5 class="card-title">Weekend at Molina</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias eum ullam quaerat incidunt obcaecati.
            </p>
          </div>


          <div class="card-inside">
            <img class="card-img-top" src="/assets/login.jpg">
          </div>
        </div>

        <div class="componentcard d-flex">

          <div class="card-body">

            <div class="superiorcomponents" style="display: flex; flex-direction: row; justify-content: space-between;">
              <div class="activitytype" style="margin-left: 2%;">
                <p>Activity_type</p>
              </div>
              <div class="people d-flex justify-content-end align-items-center " style="margin-bottom: 20px;">

                <i class="bi bi-people-fill"></i> 23
              </div>

            </div>

            <h5 class="card-title">Weekend at Molina</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias eum ullam quaerat incidunt obcaecati.
            </p>
          </div>


          <div class="card-inside">
            <img class="card-img-top" src="/assets/login.jpg">
          </div>
        </div>

      </div>


    </div>

    <div class="divbutton justify-content-top align-items-start " [routerLink]="['/createparty']"  >
      <button type="button" class="btn createparty">Create party</button>
    </div>
  </div>

  </div>
</div>

