/*Page div*/

.container-fluid {
  flex-direction: row;
  padding: 0;
  justify-content: space-between;
  margin-top: 5%;

}

/*Buttons on de left side*/
.menulateralizq {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-top: 1%;
  width: 150px;

}

.menulateralizq1,
.menulateralizq2 {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-top: 1%;
}

.btn1,
.btn2 {
  color: black;
}

.btn1,
.btn2 {
  font-size: 19px;
}
/*icons size*/
.btn1 i,
.btn2 i {
  font-size: 18px;
}

.menulateralizq button {
  text-align: left;
}

/*Components on the middle*/
.searchdiv {
  margin-bottom: 8px;
  border: #D9D9D9 inset 2px;
  padding: 5px;
  border-radius: 8px;
}

.form-control {
  border: none;
}

.centercomponent {
  margin-left: 0;
  margin-right: 0;
  width: 700px;
}

.card-body {
  width: 400px;
  text-align: center;
  margin-top: 2%;
  margin-right: 2px;
  padding: 8px;
}
.componentcard{
margin-bottom: 5px;
background-color: #D9D9D9;
margin-bottom: 15px;
border-radius: 10px;
}



.people {
  margin-right: 20px;
  margin-bottom: 5px;
}
.card-inside img {
  width: 190px;
  height: 100%;
  border-radius: 10px;
}

/*Button on de right side*/
.createparty {
  background-color: #E20074;
  color: white;
  margin-top: 4%;
  padding: 0;
  height: 35px;
  width: 120px;
}

.btn {
  min-width: 150px;

}

.divbutton {
  margin-right: 5%;

}

.card-inside {
  display: flex;
  justify-content: flex-end;

}




@media (max-width: 576px) {

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

  }

  .menulateralizq {
    margin-bottom: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: 0;


  }

  .btn1,
  .btn2 {
    width: 100px;
  }

  .menulateralizq1 {
    margin-bottom: 10px;
    flex-direction: row;

  }

  .menulateralizq2 {
    margin-bottom: 10px;
    flex-direction: row;
  }

  .searchdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }

  .componentcard {
    display: flex;
    flex-direction: column;
  }

  .centercomponent {
    margin-left: 0;
    margin-right: 0;
    width: 370px;
  }

  .searchdiv {
    margin-bottom: 8px;
    border: #D9D9D9 inset 2px;
    padding: 5px;
    border-radius: 8px;
    width: 370px;
  }

  .card-inside {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
  }

  .card-inside img {
    width: 100%;
    height: 100%;
    border-radius: 2%;
  }

  .card-body {
    width: 350px;
    text-align: center;
    margin-top: 5%;
    padding: 0;
    margin-left: 3%;
  }
}
