
.search button {
  background-color: var(--color-pink) !important;
  color: white;
}
.search input {
  border: var(--color-pink) inset 1px;
}

.card-body {
  text-align: center;
  /*añair padding*/
}
.componentcard {
  margin-bottom: 5px;
  background-color: #d9d9d9;
  border-radius: 6px;
}

.people {
  margin-right: 10px;
}
.card-inside img {
  width: 160px;
  height: 100%;
  border-radius: 6px;
}
