<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-sm-8 col-lg-6">
            <!-- Section Heading-->
            <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
              <h3>Our <span> Team</span></h3>
              <div class="line"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Single Advisor-->
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
              <!-- Team Thumb-->
              <div class="advisor_thumb"><img src="" alt="">
                <!-- Social Info-->
                <div class="social-info"><a href="https://github.com/PaulaSousa2014"><i class="fa-brands fa-github"></i></a><a href="https://www.linkedin.com/in/paulamdesousa/"><i class="fa fa-linkedin"></i></a></div>
              </div>
              <!-- Team Details-->
              <div class="single_advisor_details_info">
                <h6>Paula Sousa</h6>
                <p class="designation">FullStack Web Developer</p>
              </div>
            </div>
          </div>
          <!-- Single Advisor-->
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
              <!-- Team Thumb-->
              <div class="advisor_thumb"><img src="" alt="">
                <!-- Social Info-->
                <div class="social-info"><a href="https://github.com/BasementHalfStackDev"><i class="fa-brands fa-github"></i></a><a href="https://www.linkedin.com/in/josep-ma-pallas-batalla/"><i class="fa fa-linkedin"></i></a></div>
              </div>
              <!-- Team Details-->
              <div class="single_advisor_details_info">
                <h6>Josep Maria Pallàs</h6>
                <p class="designation">FullStack Web Developer</p>
              </div>
            </div>
          </div>
          <!-- Single Advisor-->
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
              <!-- Team Thumb-->
              <div class="advisor_thumb"><img src="" alt="">
                <!-- Social Info-->
                <div class="social-info"><a href="https://github.com/jvprz"><i class="fa-brands fa-github"></i></a><a href="https://www.linkedin.com/in/jvprz"><i class="fa fa-linkedin"></i></a></div>
              </div>
              <!-- Team Details-->
              <div class="single_advisor_details_info">
                <h6>Javier Pérez</h6>
                <p class="designation">FullStack Web Developer</p>
              </div>
            </div>
          </div>
          <!-- Single Advisor-->
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
              <!-- Team Thumb-->
              <div class="advisor_thumb"><img src="" alt="">
                <!-- Social Info-->
                <div class="social-info"><a href="https://github.com/camilagarcia36"><i class="fa-brands fa-github"></i></a><a href="https://www.linkedin.com/in/camila-garcia-perez/"><i class="fa fa-linkedin"></i></a></div>
              </div>
              <!-- Team Details-->
              <div class="single_advisor_details_info">
                <h6>Camila Garcia</h6>
                <p class="designation">FullStack Web Developer</p>
              </div>
            </div>
          </div>
        </div>
      </div>
