.card {
  background-color: var(--color-light-grey);
  cursor: pointer;
}

.input-group {
  background-color: var(--color-white);
  border-radius: 4px;
}
.btn {
  background-color: var(--color-pink);
  color: var(--color-white);
}
.userimg:hover{
  box-shadow: 0 0 5px var(--color-dark-grey);

}
.smile {
  margin-right: 2%;
  color: var(--color-dark-grey);
}

h5 {
  color: var(--color-pink);
}
.username {
  color: var(--color-white);
}

.post-user-pic {
  border-radius: 100%;
}

p i:hover {
  cursor: pointer;
}
.icons:hover {
  transform: scale(1.2);
}
