<div class="container">
  <div class="row">
    <div class="col-md-2">
      <!-- Columna izquierda (opcional) -->
      <div class="card mb-3">
      </div>
    </div>
    <div class="feed col-md-8">
      <!-- Input post -->
      <div class="card mt-4">
        <div class="card-body create-post">
          <!-- Contenido del feed -->
          <div class="input-group mb-3">
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
              placeholder="Search posts...">
            <div class="input-group-prepend">
              <span class="btn input-group-text" id="inputGroup-sizing-default"><i class="bi bi-search"></i></span>
            </div>
          </div>
          <div class="form-group">
            <textarea class="form-control" placeholder="Write a post..." [(ngModel)]="post.content"></textarea>
          </div>
          <div class="text-end">
            <a class="smile" href="#"><i class="bi bi-emoji-smile"></i></a>
            <button type="button" class="btn mt-3" (click)="submitPost()">Post</button>
          </div>
        </div>
      </div>
      <div class="dropdown-divider m-3"></div>
      <!-- Columna central -->
      <div class="card mb-3" *ngFor="let post of posts">
        <div class="card-body">
          <!-- Contenido del feed -->
          <div class="media">
            <div class="row">
              <div class="col-md-1 col-2">
                <a class="my-auto" href="#"><img class="img-fluid post-user-pic"
                  [src]="post.creator.profile_img" alt=""></a>
              </div>
              <div class="col-md-11 col-10">
                <div class="col-12 d-flex">
                  <h5>{{post.creator.nameSurn}}</h5><strong><span class="m-1"> · </span></strong><span class="username">{{post.creator.username}}</span>
                  <p class="ms-auto my-auto">{{ formatTimestamp(post.time_submitted) }}</p>
                </div>
                <div class="col-12 pt-3">
                  <p>{{post.content}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 d-flex justify-content-evenly align-items-center mb-0">
            <p><i class="bi bi-heart-fill"></i> {{ post.likes }}</p>
            <p><i class="bi bi-chat-left-text-fill"></i> {{ post.comments }}</p>
          </div>
        </div>
      </div>

      <div class="col-md-2">
        <!-- Columna derecha (opcional) -->
        <div class="card mb-3">
        </div>
      </div>
    </div>
  </div>
</div>
