<div class="content container-fluid vh-100  d-flex" style="display: flex; flex-direction: column;">
  <div class="contentbox" style="background-color: gray;">

    <div>
      <div class="imagediv">

      </div>


    </div>


    <div class="textdiv" style="display: flex; justify-content: center;  ">
      <div class="user">
        <div class="logodiv ">
          <img class="logoimg" src="/assets/cat.jpg" alt="">

        </div>
        <div class="namediv" style="margin-right: 200px;">
          <h3>Name</h3>
          <p>username</p>
          <a href="">LogoSteam</a>
        </div>
      </div>


      <div class="descriptiondiv" style="align-content: center; margin-left: 200px;">
        <div>
          <p>Job Title</p>
        </div>
        <div class="location" style="display: flex; flex-direction: row;">
          <i class="fas fa-location-dot"></i>
          <p>Location</p>
        </div>
        <div class="container1">
          <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce convallis condimentum purus, ac
            suscipit mauris consequat id. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
            turpis egestas.</p>
        </div>
      </div>
    </div>


  </div>

</div>
